{
    "delay": 30,
    "debug": false,
    "devices": [
        {
            "name": "my-phone",
            "mac": "XX:XX:XX:XX:XX:XX"
        }
    ],
    "mqtt": {
        "server": "mqtt.example.com",
        "port": "1883",
        "topic": "btmonitor",
        "username": "",
        "password": ""
    }
}
